<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dn.permission.Reciever" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vendor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Vendor.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Vendor.NoActionBar" />
        <activity
            android:name=".Activity.OrderDetailsActivity"
            android:exported="false"
            android:label="Order Details"
            android:theme="@style/Theme.Vendor.ActionBar" />
        <activity
            android:name=".Activity.OrderActivity"
            android:exported="false"
            android:label="Orders"
            android:theme="@style/Theme.Vendor.ActionBar" />
        <activity
            android:name=".Activity.AddProductActivity"
            android:exported="false"
            android:label="Add Products"
            android:theme="@style/Theme.Vendor.ActionBar" />
        <activity
            android:name=".Activity.ProductListActivity"
            android:exported="false"
            android:label="Products"
            android:theme="@style/Theme.Vendor.ActionBar" />
        <activity
            android:name=".Activity.QuestionActivity"
            android:exported="false"
            android:label="FAQ"
            android:theme="@style/Theme.Vendor.ActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Vendor.NoActionBar" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.Vendor.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vendor.NoActionBar"
            tools:ignore="RedundantLabel"></activity>

        <service
            android:name=".Model.FirebaseMessegingService"
            android:exported="true"
            android:permission="com.google.android.c2dn.permission.Send">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dn.intent.Reciever" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>